* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {

    body {
        width: 100%;
    }

    header {
        width: 100%;
        height: 12vh;
        background-color: #EF7F22;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    /* STYLE DA LOGO */
    header .header-logo {
        background-color: aliceblue;
        width: 60px;
        height: 60px;
        border-radius: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;

    }

    header .logo img {
        width: 80px;
    }

    /* ESTILIZAÇOES DO MENU LATERAL */

    .menu-lateral {}

    .menu-vertical {
        display: none;
    }

    #sub-btn {
        margin-right: 20px;
        padding: 5px;

    }



    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #f1f1f1;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #d37528;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: #F9C57C;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    #main {
        transition: margin-left .5s;
        padding: 16px;
    }



    /* SETAS RESPONSIVAS */

    .containerproje #prev {
        left: 20px;
        padding-top: 5px;
        margin-top: 155px;
    }

    .containerproje #next {
        right: 20px;
        padding-top: 5px;
        margin-top: 155px;
    }


    .containerproje .slide-container .slide .contentproje p {

        font-size: 56px;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        width: 80%;
        height: 40%;

    }
}

@media screen and (max-width:650px) {
    /* SETAS RESPONSIVAS */

    .containerproje #prev {
        left: 20px;
        padding-top: 5px;
        margin-top: 155px;
    }

    .containerproje #next {
        right: 20px;
        padding-top: 5px;
        margin-top: 155px;
    }


    .containerproje .slide-container .slide .contentproje p {

        font-size: 56px;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        width: 80%;
        height: 40%;

    }
}

@media screen and (min-width: 600px) {
    /* INICIO DO DESKTOP */

    body {
        width: 100%;
    }

    /* INICIO DA HEADER */
    header {
        width: 100%;
        height: 12vh;
        background-color: #EF7F22;
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    /* STYLE DA LOGO  DESKTOP*/
    header .header-logo {
        background-color: aliceblue;
        width: 70px;
        height: 70px;
        border-radius: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }


    header .logo img {
        width: 90px;
    }


    .menu-lateral {
        display: none;
    }

    /* menu vertical */

    .menu-vertical {
        padding: 20px;
        margin-left: 50px;
    }

    .menu-vertical nav {
        display: flex;
        align-items: center;
    }

    nav .conteudo-nav:nth-child(4) {
        border-right: 1px solid #F9C57C;
    }

    .conteudo-nav {
        padding: 10px;


    }


    .menu-vertical a {
        color: #f1f1f1;
        font-size: 1.1em;
        font-weight: bold;
        text-decoration: none;
        transition: 0.2s;
        margin-left: 10px;

    }

    .menu-vertical a:nth-child(4) {
        border: none;
    }

    .menu-vertical a:hover {
        border-bottom: 3px solid white;
    }


    .menu-vertical nav i {
        font-size: 1.4em;
        color: #f1f1f1;
        margin-left: 10px;
        cursor: pointer;

    }
}

/* BODY */


/* SLIEDE */
.containerproje {
    position: relative;
}

.containerproje .slide-container .slide {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px 9%;
    padding-bottom: 70px;

}

.containerproje .slide-container .slide .contentproje {
    flex: 1 1 350px;
    animation: slideContent .4s linear .4s backwards;
}

@keyframes slideContent{0%
{

opacity: 0;
transform: translateX(-50px);
}
}

.containerproje .slide-container .slide .contentproje h3 {
    font-size: 35px;
    color:white;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.containerproje .slide-container .slide .contentproje p {
    font-size: 20px;
    color: white;
    padding: 10px;
    background-color: rgba(235, 144, 92, 0.637);
border-radius: 10px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 40%;
    height: 10%;
    
}

.containerproje .slide-container .slide .contentproje .btnproje {

    margin-top: 10px;
    display: inline-block;
    background-color: black;
    color: white;
    font-size: 17px;
    padding: 9px 40px;
    border-radius: 5px;
    border: 2px solid orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;


}

.containerproje .slide-container .slide .contentproje .btnproje:hover {
    background: rgb(202, 112, 2);
    border: 2px solid orangered;
    color: white;
}


.containerproje .slide-container{
    display: none;

}

.containerproje .slide-container.active {
    display: block;
}

.containerproje .slide-container:nth-child(1) .slide {
    background-image: url(../assets/coxixiix.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-position: center;
}
.containerproje .slide-container:nth-child(2) .slide {
    background-image: url(../assets/wpp.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-position: center;
}
.containerproje .slide-container:nth-child(3) .slide {
    background-image: url(../assets/As\ melhores\ coxinhas\ de\ diversos\ sabores.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-position: center;
}


/*SETA*/

.containerproje #prev,
.containerproje #next {
    position: absolute;
    top: 50%;
    transform: translateY(-50);
    color: azure;
    background: transparent;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 50px;

}


.containerproje #prev {
    left: 20px;
    padding-top: 5px;
}

.containerproje #next {
    right: 20px;
    padding-top: 5px;
}


/* OTHER SECTIONS */

.box {
    display: flex;
    background-color: #FDEDD6;
    width: 256.88px;
    height: 249.82px;
    margin: 37px 60px;
    flex-direction: column;
    margin-bottom: 70px;
}

.secondbox {
    display: flex;
    background-color: #F9C57C;
    align-items: center;
    justify-content: center;
    width: 217px;
    height: 137px;
    margin-top: 20px;
    margin-left: 20px;
}

.thirdbox {
    width: 226.72px;
    height: 50.83px;
    margin: 16px;
    background-color: #FFFFFF;
}





footer {
    background-color: #F9C57C;
    text-align: center;
    width: 100%;
    height: 9.45%;
    padding: 10px;
}