* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {

    body {
        width: 100%;
    }

    header {
        width: 100%;
        height: 12vh;
        background-color: #EF7F22;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    /* STYLE DA LOGO */
    header .header-logo {
        background-color: aliceblue;
        width: 60px;
        height: 60px;
        border-radius: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;

    }

    header .logo img {
        width: 80px;
    }

    /* ESTILIZAÇOES DO MENU LATERAL */

    .menu-lateral {}

    .menu-vertical {
        display: none;
    }

    #sub-btn {
        margin-right: 20px;
        padding: 5px;

    }



    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #f1f1f1;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #d37528;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: #F9C57C;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    #main {
        transition: margin-left .5s;
        padding: 16px;
    }



    /* SETAS RESPONSIVAS */

    .containerproje #prev {
        left: 20px;
        padding-top: 5px;
        margin-top: 155px;
    }

    .containerproje #next {
        right: 20px;
        padding-top: 5px;
        margin-top: 155px;
    }


    .containerproje .slide-container .slide .contentproje p {

        font-size: 56px;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        width: 80%;
        height: 40%;

    }

    /* slide img */

    .slide img {

        width: 100%;
        height: 40vh;
        ;
    }

    footer {
        background-color: #F9C57C;
        text-align: center;
        width: 100%;
        height: 9.45%;
        padding: 10px;
    }
}



@media screen and (max-width:650px) {
    /* SETAS RESPONSIVAS */

    .containerproje #prev {
        left: 20px;
        padding-top: 5px;
        margin-top: 155px;
    }

    .containerproje #next {
        right: 20px;
        padding-top: 5px;
        margin-top: 155px;
    }


    .containerproje .slide-container .slide .contentproje p {

        font-size: 56px;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        width: 80%;
        height: 40%;

    }

    /* slide img */

    .slide img {

        width: 100%;
        height: 40vh;
        ;
    }
}

@media screen and (min-width: 600px) {
    /* INICIO DO DESKTOP */

    body {
        width: 100%;
    }

    /* INICIO DA HEADER */
    header {
        width: 100%;
        height: 12vh;
        background-color: #EF7F22;
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    /* STYLE DA LOGO  DESKTOP*/
    header .header-logo {
        background-color: aliceblue;
        width: 70px;
        height: 70px;
        border-radius: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }


    header .logo img {
        width: 90px;
    }


    .menu-lateral {
        display: none;
    }

    /* menu vertical */

    .menu-vertical {
        padding: 20px;
        margin-left: 50px;
    }

    .menu-vertical nav {
        display: flex;
        align-items: center;
    }

    nav .conteudo-nav:nth-child(4) {
        border-right: 1px solid #F9C57C;
    }

    .conteudo-nav {
        padding: 10px;


    }


    .menu-vertical a {
        color: #f1f1f1;
        font-size: 1.1em;
        font-weight: bold;
        text-decoration: none;
        transition: 0.2s;
        margin-left: 10px;

    }

    .menu-vertical a:nth-child(4) {
        border: none;
    }

    .menu-vertical a:hover {
        border-bottom: 3px solid white;
    }


    .menu-vertical nav i {
        font-size: 1.4em;
        color: #f1f1f1;
        margin-left: 10px;
        cursor: pointer;

    }

    /* slide img */

    .slide img {

        width: 100%;
        ;
    }

    footer {
        background-color: #F9C57C;
        text-align: center;
        width: 100%;
        height: 9.45%;
        padding: 10px;
    }
}

/* BODY */


/* SLIEDE */

@media screen and (min-width: 800px) {

    .container-main {
        width: 100%;
        height: 150vh;
        background-color: #FDEDD6;
    }

    .container-main .slide-container {
        width: 100%;
        height: 50vh;

    }

    .conteudo-main {
        width: 100%;
        height: 710px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* slides */


    .slide {
        display: none;
    }

    img {
        vertical-align: middle;
        width: 100%;
        border-radius: 15px 15px 0 0;
    }

    /* Slide container */
    .slide-container {
        position: relative;
        margin: auto;

        width: 100%;
        height: 40vh;
        overflow: hidden;
    }

    /* slide img */

    .slide img {

        width: 100%;
    }

    /* botoes next e prev */
    .next,
    .prev {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 16px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }



    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .prev:hover,
    .next:hover {
        background-color: #EF7F22;
        opacity: 0.6;
        color: white;
    }

    /* texto da legenda */

    .text {
        color: black;
        font-size: 15px;
        padding: 8px 12px;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }

    /* texto numerico */

    .nmr-text {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    /* os Circulos */

    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active,
    .dot:hover {
        background-color: #717171;
    }

    /* animaçao */

    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @keyframes fade {
        from {
            opacity: .4
        }

        to {
            opacity: 1
        }
    }



    .prev,
    .next,
    .text {
        font-size: 11px
    }

    .text {
        font-size: 1em;
        bottom: 100px;
    }


    /* PRODUCTS */

    h1 {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        font-size: 50px;
    }

    .boxs {
        display: flex;
        justify-content: center;
    }

    .box {
        display: flex;
        align-items: center;
        background-color: #FDEDD6;
        width: 350px;
        height: 300px;
        margin: 37px 60px;
        flex-direction: column;
        margin-bottom: 70px;
    }

    .secondbox {
        display: flex;
        background-color: #F9C57C;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 200px;
        margin-top: 20px;
    }

    .secondbox img {
        width: 200px;
    }

    .secondbox .tradicional {
        width: 300px;
    }

    .thirdbox {
        margin-top: 25px;
    }



    /* Botão Produtos  */

    .product {
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    }

    button {
        background: #88BDC1;
        width: 150px;
        height: 50px;
        font-size: 20px;
        border-radius: 15px;
        cursor: pointer;
    }

    button:hover {
        background-color: #057174;
    }

    .button {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* FOOTER  */

    footer {
        background-color: #F9C57C;
        text-align: center;
        width: 100%;
        height: 9.45%;
        padding: 10px;
    }

    /* slide img */

    .slide img {

        width: 100%;
        height: 600px;
    }

}

/* Responsidade para tablet/laptop  */
@media screen and (max-width: 1200px) {

    h1 {
        font-size: 40px;
    }

    .boxs {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .box {
        display: flex;
        align-items: center;
        background-color: #FDEDD6;
        width: 250px;
        height: 200px;
        margin-top: 10px;
        flex-direction: column;
        margin-bottom: 30px;
    }

    .secondbox {
        display: flex;
        background-color: #F9C57C;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 100px;
        margin-top: 20px;
    }

    .secondbox img {
        width: 100px;
    }

    .secondbox .tradicional {
        width: 150px;
    }

    .thirdbox {
        margin-top: 20px;
        text-align: center;
    }

    .product {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }

    /* slide img */

    .slide img {

        width: 100%;
        height: 40vh;
        ;
    }

    footer {
        background-color: #F9C57C;
        text-align: center;
        width: 100%;
        height: 9.45%;
        padding: 10px;
    }
}

/* Responsividade para celular  */
@media screen and (max-width: 800px) {

    /* SLIDE  */
    .container-main {
        width: 100%;
        height: 150vh;
        background-color: #FDEDD6;
    }

    .container-main .slide-container {
        width: 100%;
        height: 50vh;

    }

    .conteudo-main {
        width: 100%;
        height: 710px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* slides */


    .slide {
        display: none;
    }

    img {
        vertical-align: middle;
        width: 100%;
        border-radius: 15px 15px 0 0;
    }

    /* Slide container */
    .slide-container {
        position: relative;
        margin: auto;

        width: 100%;
        height: 40vh;
        overflow: hidden;
    }

    /* slide img */

    .slide img {
        width: 100%;
        height: 40vh;
        max-width: 1156px;
        ;
    }

    /* botoes next e prev */
    .next,
    .prev {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 16px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }



    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .prev:hover,
    .next:hover {
        background-color: #EF7F22;
        opacity: 0.6;
        color: white;
    }

    /* texto da legenda */

    .text {
        color: white;
        font-size: 15px;
        padding: 8px 12px;
        /* position: absolute; */
        bottom: 8px;
        width: 100%;
        text-align: center;
    }

    /* texto numerico */

    .nmr-text {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    /* os Circulos */

    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active,
    .dot:hover {
        background-color: #717171;
    }

    /* animaçao */

    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @keyframes fade {
        from {
            opacity: .4
        }

        to {
            opacity: 1
        }
    }



    .prev,
    .next,
    .text {
        font-size: 11px
    }

    .text {
        font-size: 1em;
        bottom: 100px;
    }


    /* PRODUCTS */

    h1 {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        font-size: 50px;
    }

    .boxs {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box {
        display: flex;
        align-items: center;
        background-color: #FDEDD6;
        width: 250px;
        height: 250px;
        margin-top: 10px;
        flex-direction: column;
        margin-bottom: 30px;
    }

    .secondbox {
        display: flex;
        background-color: #F9C57C;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 150px;
        margin-top: 20px;
    }

    .secondbox img {
        width: 150px;
    }

    .secondbox .tradicional {
        width: 200px;
    }

    .thirdbox {
        margin-top: 20px;
    }

    .product {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }

    button {
        background: #88BDC1;
        width: 150px;
        height: 50px;
        font-size: 20px;
        border-radius: 15px;
        cursor: pointer;
        margin-bottom: 100px;
    }

    button:hover {
        background-color: #057174;
    }

    /* FOOTER  */

    footer {
        background-color: #F9C57C;
        text-align: center;
        width: 100%;
        height: 5%;
        padding: 10px;
        position: fixed;
        left: 0;
        bottom: 0;
    }

    /* slide img */

    .slide img {

        width: 100%;
        height: 40vh;
        ;
    }


}
