@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: bisque;
}
header {
    background-image: linear-gradient(rgb(255, 174, 0), rgb(233, 133, 18), rgb(243, 110, 21));
    z-index: 2;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1rem;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 5px rgba(51, 47, 47, 0.493);
    background-color: bisque;
}
.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
.nav-item {
    margin: 0 15px;
}
.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: white;
    font-weight: 400;
}

.login-button button {
    border: none;
    background-color: rgb(230, 19, 19);
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 15px;
}
.login-button button a{
    text-decoration: none;
    color: #c7c2c2;
    font-weight: 500;
    font-size: 15px;
}
a:active, a:hover {
    padding: 2px;
    background-color: #00000069;
    border-radius: 5px;
}
.mobile-menu-icon {
    display: none;
}
.mobile-menu {
    display: none;
}

/* MENU RESPONSIVO*/
@media screen and (max-width:768px){

.nav-bar {
    padding: 1.5rem 4rem;

}
.nav-item {
    display: none;

}

.login-button {
    display: none;
}

.mobile-menu-icon {
    display: block;
  
}
    
.mobile-menu-icon button {
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    margin-top: 20px;
}

.mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1.2rem;
}



.mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;

}


.mobile-menu .login-button {
    display: block;
    padding: 1rem 2rem;

}

.mobile-menu .login-button button {
    width: 100%;
    
}
.open{
    display: block;
}
}

.rectangle{
    height: 44px;
    width: 100%;
    background-color: #F9C57C;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    color: floralwhite;
}
.painel{
    font-size: min(8vw, 40px);
}
/* div principal da imagem c/3 coxinhas */
.main-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    display: flex;
    background-color: #FDEDD6;
    align-items: center;
    height: auto;
    flex-direction: column;
    margin: 30px 20px 0px 20px;
    border-radius: 15px;
    max-width: 600px;
}
.secondbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 210px;
    margin-top: 20px;
    border-radius: 22px;
}
.image {
    max-width: 96%;
    height: 235px;
}
.thirdbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 40%;
    margin: 20px 0 5px 0;
    background-color: #FFFFFF;
    border-radius: 22px;
    padding: 10px;
    font-size: 20px;
}
.titulo {
    font-size: min(5vw, 25px);
}
.text{
    font-size: min(4vw, 20px);
}
.div-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-coxinhas{
    margin: 0 40px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-2 {
    display: flex;
    background-color: #FDEDD6;
    align-items: center;
    height: auto;
    flex-direction: column;
    margin: 37px 0px 100px 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    padding-bottom: 14px;
}
.secondbox-2 {
    display: flex;
    background-color: #F9C57C;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 150px;
    margin-top: 20px;
    border-radius: 22px;
}
.image-2 {
    max-width: 70%;
    border-radius: 15px;
}
.thirdbox-2 {
    width: 88%;
    height: auto;
    margin: 6px;
    background-color: #FFFFFF;
    border-radius: 22px;
    padding: 10px;
}
/* Div principal do video, mapa e localização*/
.container {
    display: flex;
    background-color: #faeed5;
    width: 89%;
    height: auto;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    border-radius: 15px;
    margin: 30px;
    padding: 5px;
}
/* div do video*/
.meme {
    display: flex;
    height: 302px;
    margin: 10px 5px 10px 5px;
}
/* video*/
.meme video {
    border-radius: 10px;
}
.maps {
    margin: 10px 5px 5px 0;
    border-radius: 5px;
}
.mapa{
    height: 85px;
    width: 100%;
}
.eddress {
    background-color: #f2c87a;
    height: 202px;
    border-radius: 5px;
    margin: 10px 5px 5px 0;
    padding: 3px;
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.eddress img{
    width: 26px;
    height: 26px;
}

footer {
    background-color: #F9C57C;
    text-align: center;
    width: 100%;
    height: 9.45%;
    padding: 10px;
}
.descricao{
    font-family: 'Caveat', cursive;
}

    /* descrição das coxinhas */
.descriptionCox-0{
    display: flex;
    flex-direction: column;
}

    /*titulos das coxinhas box-2*/
.titulo-1, .titulo-2, .titulo-3, .titulo-4{
    font-size: min(5vw, 25px);
}

    /*Descrição das coxinhas box-2*/
.text-1, .text-2, .text-3{
    font-size: min(4vw, 20px);
}
.titulo-4{
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-4{
    font-size: min(5vw, 25px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.descriptionCox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.descriptionCox-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.descriptionCox-3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

    /* Resolução para Tablet de 768px até 992px */
@media only screen and (min-width: 768px) {
    .box{
        max-width: 600px;
        
    }
    .secondbox {
        width: 600px;
    }
    .image {
        width: 100%;
    }
    .main-coxinhas{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    .div-main {
       display: flex;
    }
    .box-2 {
        display: flex;
        width: 35%;
        margin: 5%;
    }
    .secondbox-2 {
        height: 175px;
    }
    
    .container {
        margin: 5%;
        width: 35%;
        height: 30%;
    }
    .meme {
        height: 256px;
    }
    
    .eddress {
        padding: 10px;
        height: 156px;
    }
    .eddress img{
        height: 33px;
        max-width: min(100%, 100%);
    }
    
    .titulo-1, .titulo-2, .titulo-3, .titulo-4{
        font-size: min(20px, 35px);
    }
    .text-1, .text-2, .text-3 {
        font-size: min(15px, 40px);
    }
    .text-4 {
        font-size: min(15px, 25px);
    }
}

/* Resolução de 993px até 
@media only screen and (min-width: 993px){
    .main-box {
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
    }
    .box {
        max-width: 1000px;
        height: auto;
    }
    .secondbox {
        width: 1000px;
        height: auto;
    }
    .image {
        width: 100%;
        height: auto;
    }
    .thirdbox{
        width: 82%;
        margin: 0px 0 20px 0;
    }
    .box-2{
        width: 30%;
    }
    .container{
        width: 30%;
    }

}
