* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: bisque;
}

header {
    background-image: linear-gradient(rgb(255, 174, 0), rgb(233, 133, 18), rgb(243, 110, 21));
    z-index: 2;
}


.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
 
}


.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 5px rgba(51, 47, 47, 0.493);
    background-color: bisque;

    

}

.nav-list {
    display: flex;
    align-items: center;
   
   
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
    


}

.nav-item {
    margin: 0 15px;

}

.nav-link {

    text-decoration: none;
    font-size: 1.15rem;
    color: white;
    font-weight: 400;
}

.login-button button {
    border: none;
    background-color: rgb(230, 19, 19);
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 15px;
   

}
.login-button button a{
    text-decoration: none;
    color: #c7c2c2;
    font-weight: 500;
    font-size: 15px;
    


}

    a:active, a:hover {
        padding: 2px;
        background-color: #00000069;
        border-radius: 5px;
    }

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

/* MENU RESPONSIVO*/


@media screen and (max-width:730px){

.nav-bar {
    padding: 1.5rem 4rem;

}
.nav-item {
    display: none;

}

.login-button {
    display: none;
}

.mobile-menu-icon {
    display: block;
  
}
    
.mobile-menu-icon button {
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    margin-top: 20px;
}

.mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1.2rem;
   

}



.mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;

}


.mobile-menu .login-button {
    display: block;
    padding: 1rem 2rem;

}

.mobile-menu .login-button button {
    width: 100%;
    
}
.open{
    display: block;
}
}


.box {
    display: flex;
    background-color: #FDEDD6;
    align-items: center;
    height: 249px;
    margin-top: 11px;
    flex-direction: column;
}

.secondbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 365px;
    height: 142px;
    margin-top: 20px;
    border-radius: 22px;
}
.image {
    width: 367px;
}


.thirdbox {
    width: 369px;
    height: 67.83px;
    margin: 20px 0 5px 0;
    background-color: #FFFFFF;
    border-radius: 22px;
}

.div-main {
    display: flex;
    flex-wrap: wrap;
}

.box-2 {
    display: flex;
    background-color: #FDEDD6;
    align-items: center;
    width: 256.88px;
    height: 249.82px;
    flex-direction: column;
    margin: 37px 5px 37px 65px;
}

.secondbox-2 {
    display: flex;
    background-color: #F9C57C;
    align-items: center;
    justify-content: center;
    width: 218.88px;
    height: 249.82px;
    margin-top: 20px;
    border-radius: 22px;
    
}
.image-2 {
    width: 100px;
}

.thirdbox-2 {
    width: 209px;
    height: 67.83px;
    margin: 16px;
    background-color: #FFFFFF;
    border-radius: 22px;
    
}

.container {
    display: flex;
    background-color: #faeed5;
    width: 354px;
    height: 249.82px;
    margin-left: 10px;
    margin-bottom: 37px;
}

.meme {
    display: flex;
    background-color: yellow;
    height: 227px;
    margin: 10px 20px 5px 30px;
    border-radius: 5px;
}
.maps {
    height: 140px;
    margin: 10px;
    border-radius: 5px;
}
.eddress {
    background-color: #f2c87a;
    margin: 10px;
    height: 76px;
    border-radius: 5px;
}
footer {
    background-color: #F9C57C;
    text-align: center;
    width: 100%;
    height: 9.45%;
    padding: 10px;
}
